@model MVCBoard.Models.BoardKeyModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.DisplayFor(model => model.BoardKey, new { htmlAttributes = new { @type = "hidden", @class = "form-control" } })
    @Html.ActionLink("Create New", "Create", new { id = Model.BoardKey })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Board.Title)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Board.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Board.Creater)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model.Boards) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creater.Email)
        </td>
        <td>
           
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
