@model MVCBoard.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <div class="text-center mb-4">
            <h4>Forgot your password?</h4>
            <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter email address" })

            </div>

            <input type="submit" class="btn btn-primary btn-block" value="전자 메일 링크" />

        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

            <div class="text-center">
                <a class="d-block small mt-3" href="@Url.Action("Login", "Account" , null)">Login page</a>
                <a class="d-block small" href="@Url.Action("Register", "Account" , null)">Register an Account</a>
            </div>
    </div>
</div>