@using MVCBoard.Models
@model LoginViewModel
@{
    ViewBag.Title = "로그인";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


            </div>
            <div class="form-group">

                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

            </div>


            <input type="submit" value="로그인" class="btn btn-primary btn-block" />



            @* 암호 재설정 기능에 대해 계정 확인을 사용하도록 설정한 경우 이 항목 사용
            <p>
                @Html.ActionLink("암호를 잊으셨습니까?", "ForgotPassword")
            </p>*@
        }
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.Action("Register", "Account" , null)">Register an Account</a>
            <a class="d-block small" href="@Url.Action("ForgotPassword", "Account" , null)">Forgot Password?</a>
        </div>  
    </div>
</div>


@*<div class="row">

    <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
