@model MVCBoard.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "암호 재설정";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">암호를 재설정합니다</div>
    <div class="card-body">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {  role = "form" }))
        {
            @Html.AntiForgeryToken()
          
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
              
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
               
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })   
            </div>
            
            <input type="submit" class="btn btn-primary btn-block" value="재설정" />
            
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>